h1 {
  font-size: 2vw;
  text-align: center;
  color: #FFFFFF;
}

.card {
  width: 100%;
  max-width: 1000px;
  min-height: 500px;
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 50px;
  border-style: solid;
  margin: 20px auto; /* Added "auto" to center the card horizontally */
  float: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2vw;
}

.card img {
  width: 70vw;
  height: 70vw;
  display: block;
  margin: 0 auto; /* Added "auto" to center the image horizontally */
  border-radius: 20px;
}

.card p {
  margin-top: 1vw;
  text-align: center;
  font-size: calc(14px + 0.5vw);
}

/* Media Queries for different screen sizes */

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .card {
    padding: 30px;
  }
  
  .card p {
    font-size: 12px;
  }
}

/* For screens between 600px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  .card {
    width: 80%;
    max-width: none;
  }
  
  .card img {
    width: 90%;
    height: auto;
  }
  
  .card p {
    font-size: 16px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  .card {
    margin: 50px auto;
  }
  
  .card img {
    width: 800px;
    height: 800px;
  }
  
  .card p {
    font-size: 20px;
  }
}
