       h1 {
        font-size:55px;
        text-align: center;
        color:#FFFFFF
        }

        .card {
            width: 100%;
            max-width: 820px;
            height: auto;
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
            margin: 40px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .card h2 {
            margin-top: 0px;
            text-align: center;
            font-size: 4vw;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .card p {
            margin-top: 15px;
            text-align: justify;
            font-size: 2vw;
        }
